@font-face {
    font-family: 'LeeSeoyun';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/LeeSeoyun.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{
  font-family: 'LeeSeoyun';
  font-size:30px;
}
#help{
   position: fixed;
  bottom:0px;
}
#title{
   text-align:center;
}
#img{
  text-align:center;
}
#c{
  font-family: 'LeeSeoyun';
  background-color:#121212;
  height:50px;
  border:none;
  color:#d6d6d6;
  border-radius:5px;
  top:0px;
  width:150px;
  right:-3px;
   transition:all 0.3s;
}
#c:hover{
  font-family: 'LeeSeoyun';
  background-color:#363636;
  height:50px;
  border:none;
  color:#d6d6d6;
  border-radius:5px;
  top:0px;
  right:-3px;
 width:200px;
   transition:all 0.3s;
   

}
#s{
    text-align:center;
}
#dlalwl{
    width:800px;
    height:800px;
    {
